# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


# Backup files
*~

# Version files in Intialize directories

Initialize*/Version.h

Working_Info

Drawings

Gauges/hardware/circuits/
Gauges/hardware/data_sheets/
Gauges/hardware/pcb/

Speedometer/hardware/speedo_arduino_uno_shield/
Speedometer/_old/

Combined/hardware/hardware/
Combined/_old/
